<!-- showCheckBox: true,是否开启选择功能
      closable: true,是否开启编辑功能
      defaultChecked: { checkedpermissions: ['16', '19'], checkedrouters: ['2', '3'] }默认选择框-->
<template>
  <div>
    <el-table
      v-loading="tableLoading"
      :data="tabledate"
      style="width: 100%"
      row-key="id"
      :lazy="tablelazy"
    >
      <el-table-column
        :render-header="menurenderheader"
        prop="name"
        label="菜单"
        width="250"
      >
        <template slot-scope="item">
          <el-tooltip :content="'地址：'+item.row.path+',组件：'+item.row.component" class="item" effect="light" placement="top-start">
            <el-checkbox
              v-if="menuCheckboxShow(item.row,1)"
              v-model="item.row.checked"
              :indeterminate="item.row.isIndeterminate"
              @change="checkedChange(item.row,1)"
            >{{ item.row.name }}
            </el-checkbox>
            <span v-if="!menuCheckboxShow(item.row,1)" style="margin-left: 10px;">{{ item.row.name }}</span>
          </el-tooltip>
          <el-dropdown v-if="closable" :hide-on-click="false" size="mini" style="float:right" trigger="click">
            <span class="el-dropdown-link" style="font-size: 10px;color:#409EFF">
              操作<i class="el-icon-arrow-down el-icon--right" />
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-popover
                v-model="item.row.showDeletePop"
                placement="top"
                width="160"
              >
                <p>确定删除？</p>
                <div v-loading="item.row.deleteRouterLoading" style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="item.row.showDeletePop = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="deleteRouter(item.row)">确定</el-button>
                </div>
                <el-dropdown-item slot="reference">删除</el-dropdown-item>
              </el-popover>
              <el-dropdown-item @click.native="addrouter(item.row)">新增</el-dropdown-item>
              <el-dropdown-item @click.native="editrouter(item.row)">编辑</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
      <el-table-column
        :render-header="permissionsrenderheader"
        prop="permissions"
        label="功能权限"
      >
        <template slot-scope="item">
          <el-checkbox
            v-if="menuCheckboxShow(item.row,2)"
            v-model="item.row.checked"
            :indeterminate="item.row.isIndeterminate"
            @change="checkedChange(item.row,2)"
          >全选
          </el-checkbox>

          <el-tag
            v-for="(tag, index) in item.row.permissions"
            v-else
            :key="tag.id"
            :closable="closable"
            :disable-transitions="false"
            size="mini"
            @close="deletePermission(tag.id,item.row,index)"
          >
            <el-tooltip :content="'地址：'+tag.url" class="item" effect="light" placement="top-start">
              <el-checkbox
                v-if="menuCheckboxShow(item.row,3)"
                v-model="tag.checked"
                @change="checkedChange(item.row,3)"
              >
                {{ tag.name }}
              </el-checkbox>
              <span v-else>{{ tag.name }}</span>
            </el-tooltip>
          </el-tag>

          <el-popover
            v-if="menuCheckboxShow(item.row,1)"
            v-model="item.row.showPermissionFormPop"
            placement="right"
            width="600"
            trigger="click"
          >
            <el-form
              :ref="'permissionForm'+item.$index"
              v-loading="item.row.permissionFormLoading"
              :inline="true"
              :rules="permissionFormRules"
              :model="permissionForm"
              class="demo-form-inline"
            >
              <el-form-item label="名称" prop="name">
                <el-input v-model="permissionForm.name" placeholder="权限名称" />
              </el-form-item>
              <el-form-item label="url" prop="url">
                <el-input v-model="permissionForm.url" placeholder="权限url" />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="savePermission(item.row,item.$index)">确认</el-button>
              </el-form-item>
            </el-form>
            <el-tag slot="reference" size="mini" type="success" style="cursor: pointer">+添加</el-tag>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="reuterFormVisible" title="新增菜单">
      <el-form ref="routerForm" v-loading="routerFormLoading" :model="routerForm" :rules="routerFormRules" size="mini">
        <input v-model="routerForm.id" type="hidden">
        <el-form-item :label-width="formLabelWidth" label="父级" prop="parentId">
          <el-input v-model="routerForm.parentName" :disabled="true" auto-complete="off" />
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="名称" prop="name">
          <el-input v-model="routerForm.name" auto-complete="off" />
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="路由路径" prop="path">
          <el-input v-model="routerForm.path" auto-complete="off" placeholder="一级路由必须/开头，其他级不限" />
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="路由组件" prop="component">
          <el-input v-model="routerForm.component" auto-complete="off" placeholder="@view下组件路径不用/开头" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="reuterFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="commitRouter()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { saveRouter, listRouter, deleteRouter, savePermission, deletePermission, updateRouter } from '@/api/upms/router'

export default {
  name: 'TreeTable',
  props: {
    showCheckBox: { type: Boolean, default: () => true },
    closable: { type: Boolean, default: () => true },
    defaultChecked: {
      type: Object, default: function() {
        return { checkedpermissions: [], checkedrouters: [] }
      }
    }
  },
  data() {
    return {
      tablelazy: false,
      expandAll: false,
      tableLoading: false,
      routerFormLoading: false,
      formLabelWidth: '80px',
      reuterFormVisible: false,
      checkedlist: this.defaultChecked,
      routerForm: { id: '', name: '', path: '', component: '', title: '', parentId: '', parentName: '' },
      menudata: { children: [] },
      permissionForm: { name: '', url: '' },
      routerFormRules: {
        name: [
          { required: true, message: '请输入菜单名称', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
        ], component: [
          { required: true, message: '请输入组件名称', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }], path: [
          { validator: (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入路由地址'))
            } else if (this.routerForm.parentId === '-1' && value.indexOf('/') !== 0) {
              callback(new Error('顶级菜单必须以/开头'))
            } else {
              let flag = false
              const checkHas = (menu) => {
                if (menu.parentId === this.routerForm.parentId && menu.path === this.routerForm.path && this.routerForm.id !== menu.id) {
                  callback(new Error('同级目录不允许有相同地址'))
                  flag = true
                  return
                }
                if (menu.hasChildren) {
                  menu.children.some(function(item) {
                    checkHas(item)
                  })
                }
              }
              checkHas(this.menudata)

              if (!flag) {
                callback()
              }
            }
          }, trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }]
      },
      permissionFormRules: {
        name: [
          { required: true, message: '请输入权限名称', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
        ], url: [
          { required: true, message: '请输入权限地址', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }]
      }
    }
  },
  computed: {
    tabledate: function() {
      return this.menudata.children
    },
    dynamicCheckedList: function() {
      const dynamicCheckedList = { checkedrouters: [], checkedpermissions: [] }
      return dynamicCheckedList
    }
  },
  created: function() {
    /* 加载菜单数据*/
    this.tableLoading = true
    listRouter().then(response => {
      const data = response.data
      const top = {
        id: '-1',
        name: 'layout',
        path: '/',
        children: data,
        checked: false,
        expanded: true,
        show: true,
        isIndeterminate: false
      }
      this.initParent(top)
      this.menudata = top
      this.tableLoading = false
    }).catch(error => {
      this.tableLoading = false
      console.error(error)
    })
  },

  methods: {
    initParent: function(parent) {
      const _this = this
      if (parent.children && parent.children.length > 0) {
        _this.$set(parent, 'hasChildren', true)
        parent.children.some(function(item) {
          _this.$set(item, 'parent', parent)
          _this.initParent(item)
        })
      } else {
        _this.$set(parent, 'hasChildren', false)
      }
    },
    recursiveChecked: function(menu) {
      this.recursiveCheckedByChild(menu)
      if (menu.parent) {
        this.recursiveChecked(menu.parent)
      }
    },
    recursiveCheckedByChild: function(menu) {
      var _this = this
      /* menu是父菜单*/
      let checkednum = 0
      let uncheckednum = 0
      let checkgrouplength = 0
      let isIndeterminatenum = 0
      if (menu.hasChildren) {
        checkgrouplength = menu.children.length
        menu.children.some(function(item) {
          if (_this.recursiveCheckedByChild(item)) {
            checkednum = checkednum + 1
          } else {
            uncheckednum = uncheckednum + 1
          }
          if (item.isIndeterminate) {
            isIndeterminatenum = isIndeterminatenum + 1
          }
        })
      } else {
      /* menu是叶子菜单*/
        if (menu.permissions && menu.permissions.length > 0) {
          checkgrouplength = menu.permissions.length
          menu.permissions.some(function(permission) {
            if (permission.checked) {
              checkednum = checkednum + 1
            } else {
              uncheckednum = uncheckednum + 1
            }
          })
        } else {
          return menu.checked
        }
      }
      menu.isIndeterminate = false
      if (checkednum === checkgrouplength) {
      /* 全选叶子*/
        if (isIndeterminatenum > 0) {
          menu.isIndeterminate = true
        }
        menu.checked = true
        return true
      } else if (uncheckednum === checkgrouplength) {
      /* 全取消叶子*/
        menu.checked = false
        return false
      } else {
      /* 半选叶子*/
        menu.checked = true
        menu.isIndeterminate = true
        return true
      }
    },
    checkAll: function(menu) {
      var _this = this
      if (menu.hasChildren) {
        menu.children.some(function(item) {
          item.checked = menu.checked
          _this.checkAll(item)
        })
      } else {
      /* menu是叶子菜单*/
        if (menu.permissions && menu.permissions.length > 0) {
          menu.permissions.some(function(permission) {
            permission.checked = menu.checked
          })
        }
      }
    },
    menuIconClass: function(menu) {
    /* 有子元素才展示*/
      if (menu.hasChildren) {
        if (menu.expanded) {
          return 'el-icon-arrow-down'
        } else {
          return 'el-icon-arrow-right'
        }
      } else {
        return 'hidden'
      }
    },
    indentWith: function(menu) {
      return {
        display: 'inline-block',
        width: menu.level * 18 + 'px'
      }
    },
    menuCheckboxShow: function(menu, type) {
      if (!this.showCheckBox) {
        return false
      }
      if (type === 1) {
        return !menu.hasChildren
      } else if (type === 2) {
        return menu.hasChildren
      }
      return true
    },
    deletePermission: function(id, menu, index) {
      deletePermission(id).then(response => {
        menu.permissions.splice(index, 1)
      }).catch(error => {
        this.$notify.info({
          title: '消息',
          message: error
        })
      })
    },
    checkedChange: function(menu, type) {
    /* 权限变化维护父代状态向上传递*/
      if (type !== 3) {
        this.checkAll(menu)
      }
      this.recursiveChecked(menu)

      /* 重新给选中复制*/
      this.checkedlist = this.dynamicCheckedList
    },
    addrouter: function(parent) {
      if (this.$refs.routerForm) {
        this.$refs.routerForm.clearValidate()
      }
      this.routerForm = { id: '', name: '', path: '', component: '', title: '', parentId: '', parentName: '' }
      this.routerForm.parentName = parent.name
      this.routerForm.parentId = parent.id
      this.reuterFormVisible = true
    },
    editrouter: function(menu) {
      if (this.$refs.routerForm) {
        this.$refs.routerForm.clearValidate()
      }

      let parent = menu.parent
      if (!parent) {
        parent = { id: '-1', name: '顶级' }
      }
      this.routerForm.name = menu.name
      this.routerForm.id = menu.id
      this.routerForm.path = menu.path
      this.routerForm.component = menu.component
      this.routerForm.parentName = parent.name
      this.routerForm.parentId = parent.id
      this.reuterFormVisible = true
    },
    commitRouter: function() {
      this.$refs['routerForm'].validate((valid) => {
        if (valid) {
          this.routerFormLoading = true
          if (this.routerForm.id === '') {
            saveRouter(this.routerForm).then(response => {
              const data = response.data
              this.routerForm.id = data
              this.routerFormLoading = false
              this.reuterFormVisible = false
              /* 把数据显示到列表中*/
              this.addNode2child(this.menudata, Object.assign({}, this.routerForm))
              this.routerForm = {}
            }).catch(error => {
              console.error(error)
              this.routerFormLoading = false
            })
          } else {
            updateRouter(this.routerForm).then(response => {
              this.routerFormLoading = false
              this.reuterFormVisible = false
              /* 更新数据*/
              const newdata = Object.assign({}, this.routerForm)
              const _updaterouter = (item) => {
                if (item.id === newdata.id) {
                  item.name = newdata.name
                  item.path = newdata.path
                  item.component = newdata.component
                  return
                }
                if (item.hasChildren) {
                  item.children.some(function(item) {
                    _updaterouter(item)
                  })
                }
              }
              _updaterouter(this.menudata)
              this.routerForm = {}
            }).catch(error => {
              console.error(error)
              this.routerFormLoading = false
            })
          }
        } else {
          this.$message({
            message: '警告哦，请补全表单',
            type: 'warning'
          })
          return false
        }
      })
    },
    deleteRouter: function(menu) {
      if (menu.hasChildren) {
        this.$message({
          message: '警告哦，该目录存在子菜单不允许删除',
          type: 'warning'
        })
        menu.showDeletePop = false
        return
      }
      menu.deleteRouterLoading = true
      deleteRouter(menu.id).then(response => {
        menu.parent.children.some(function(item, index) {
          if (item.id === menu.id) {
            menu.parent.children.splice(index, 1)
            menu.showDeletePop = false
          }
        })
        if (menu.parent.children.length === 0) {
          menu.parent.hasChildren = false
        } else {
          menu.parent.hasChildren = true
        }
        menu.deleteRouterLoading = false
      }).catch(error => {
        menu.deleteRouterLoading = false
        this.$notify.info({
          title: '消息',
          message: error
        })
        console.error(error)
      })
    },
    addNode2child: function(menu, node) {
      var _this = this
      if (menu.id === node.parentId) {
        if (!menu.children) {
          menu.children = []
        }
        menu.hasChildren = true
        menu.children.push(node)
        /* _this.$set(menu.children, menu.children.length, node)*/
        return
      }

      if (menu.hasChildren) {
        menu.children.some(function(item) {
          return _this.addNode2child(item, node)
        })
      }
    },
    savePermission: function(menu, index) {
      this.permissionForm.parentRouter = menu.id
      this.$refs['permissionForm' + index].validate((valid) => {
        if (valid) {
          menu.permissionFormLoading = true
          savePermission(this.permissionForm).then(response => {
            if (!menu.permissions) {
              this.$set(menu, 'permissions', [])
            }
            this.permissionForm.id = response.data
            const newp = Object.assign({}, this.permissionForm, { checked: false })
            this.$set(menu.permissions, menu.permissions.length, newp)
            menu.showPermissionFormPop = false
            this.permissionForm = {}
            menu.permissionFormLoading = false
          }).catch(error => {
            menu.permissionFormLoading = false
            this.$notify.info({
              title: '消息',
              message: '保存失败'
            })
            console.error(error)
          })
        } else {
          this.$message({
            message: '警告哦，请补全表单',
            type: 'warning'
          })
          return false
        }
      })
    },
    menurenderheader: function(h, { column, $index }) {
      return h('span', [
        h('el-checkbox', {
          class: 'routerselectall',
          props: { value: this.menudata.checked, indeterminate: this.menudata.isIndeterminate },
          on: {
            change: (checked) => {
              this.menudata.checked = checked
              this.checkAll(this.menudata)
              this.checkedlist = this.dynamicCheckedList
            }
          }
        }),
        h('span', column.label),
        h('i', {
          class: 'el-icon-plus routeradd',
          on: {
            click: () => {
              this.addrouter({ id: '-1', name: '顶级' })
            }
          }
        })
      ])
    },
    expandAllMenu: function(menuList, boo) {
      var _this = this
      menuList.some(function(item) {
        item.expanded = boo
        if (item.item.hasChildren) {
          _this.expandAllMenu(item.children, boo)
        }
      })
    },
    permissionsrenderheader: function(h, { column, $index }) {
      return h('span', [
        h('span', column.label),
        h('el-switch', {
          class: 'expandswitch', props: { value: this.expandAll }, on: {
            change: (expandAll) => {
              this.expandAllMenu(this.menudata.children, expandAll)
              this.expandAll = expandAll
            }
          }
        })
      ])
    }
  }
}
</script>

<style>
  .hidden {
    display: none;
  }

  .el-tag + .el-tag {
    margin-left: 10px;
  }

  label {
    font-weight: 200;
  }

  .routeradd {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    color: #409EFF;
  }

  .routerselectall {
    margin-right: 10px;
  }

  .el-table th div.expandswitch {
    display: inline;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
</style>
